@{
    ViewBag.Title = "About";
}

<div id="content">
    
    <h1>@ViewBag.Title</h1>
    
    <h3>What is VirtualJam?</h3>
    <p>
        VirtualJam is social crowdsource platform that allows its users to work on community projects and share their 
        experience with others. Users are able to upload images of the their project and use geo-location base features
        to highlight the community in which the project was done.
    </p>
    
    <h3>What is VirtualJam's Goal?</h3>
    <p>
        VirtualJam's aim is to promote nation building by encouraging individuals to take part in community improvement 
        projects.  All areas of development are encouraged, whether it be drain cleaning, infrastructure improvement,
        even road works, or anything that may improve the quality of life. 
    </p>
    

</div>