@{
    ViewBag.Title = "Account Settings";
}


<div id="content">
    <h2>Account Settings</h2>
    
    <br />

    <div class="settings">
        <div class="setting">
            <ul>
                <li class="span2">Name</li>
                <li class="span3"><span class="muted">Placeholder</span></li>
                <li class="span1"><a href="#" id="setting-edit">Edit</a></li>
            </ul>
            <div class="setting-content  span6">
                some setting form
            </div>
        </div>
        <div class="setting">
            <ul>
                <li class="span2">Username</li>
                <li class="span3"><span class="muted">Placeholder</span></li>
                <li class="span1"><span class="muted text-smaller">readonly</span></li>
            </ul>
        </div>
        <div class="setting">
            <ul>
                <li class="span2">Email</li>
                <li class="span3"><span class="muted">Placeholder</span></li>
                <li class="span1"><a href="#" id="setting-edit">Edit</a></li>
            </ul>
            <div class="setting-content span6">
                some setting form
            </div>
        </div>
         <div class="setting">
            <ul class="setting-title">
                <li class="span2">Password</li>
                <li class="span3"><span class="muted">Placeholder</span></li>
                <li class="span1"><a href="#" id="setting-edit">Edit</a></li>
            </ul>
            <div class="setting-content span6">
                some setting form
            </div>
        </div>
    </div>
</div>
